/*Body*/

body {
  background : #2C3E50;
  background : rgba(44, 62, 80, 1);
}


/*Coming Soon*/

h1.cs {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size : 41px;
    color : #2980BA;
    color : rgb(41, 128, 186);
    overflow: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

span.peroid {
    color : #E64C3C;
    color : rgb(230, 76, 60); 
    text-align: center;
    top: 50%;
    overflow: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}


h1.cs:hover {
-webkit-transform: scale(1.0f5,1.05);
    -ms-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
    color : #2980BA;
    color : rgb(41, 128, 186);
}

span.peroid:hover {
-webkit-transform: scale(1.0f5,1.05);
    -ms-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
    color : #E64C3C;
    color : rgb(230, 76, 60);
}


/*InfiniteDrop Media*/

h1.idm {
    position: absolute;
    text-align: center;
    top: 33%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size : 41px;
    color : #2980BA;
    color : rgb(41, 128, 186);
    overflow: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

span.peroididm {
    color : #E64C3C;
    color : rgb(230, 76, 60); 
    text-align: center;
    top: 50%;
    overflow: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

h1.idm:hover {
-webkit-transform: scale(1.0f5,1.05);
    -ms-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

span.peroididm:hover {
-webkit-transform: scale(1.0f5,1.05);
    -ms-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

.ribbon {
 font-size: 16px !important;
    font-family: 'Montserrat', sans-serif;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;

 position: relative;
 background: #2980BA;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #E64C3C;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #2C4E55 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}


/*Coming Later This Month (.cltm)*/
h1.cltm {
    position: absolute;
    text-align: center;
    top: 80%;
    width: 100%;
    font-family: 'Droid Sans', sans-serif;
    color : #D3D3D3;
    font-size: 20px;
    overflow: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

h1.cltm:hover {
    -webkit-transform: scale(1.0f5,1.05);
    -ms-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
    color : #2980BA
}
